@media (max-width: 768px){
    #menu-sanduiche{
        width: 8vw;
        height: 8vw;
        filter: invert(1);
    }

    #texto-header1 h1{
        font-size: 6vw;
    }

    #imagem-pagina-inicial-aluno{
        width: 92vw;
        height: 50vw;
        background: gray;
        margin: 2vw 0 0 0;
    }

    #escolha-paginas{
        width: 92vw;
        height: 60vh;
        margin: 3vw 0 7vw 0;
        border-radius: 5vw;
        /* color: white; */
        box-shadow: 0 1.5vw 2vw 0.3vw rgb(128, 128, 128);
    }

    .opção-azul{    
        margin: 3vw 0 3vw 0;
        border-radius: 3vw;
        box-shadow: 0 1vw 1.5vw 0.3vw rgb(64, 64, 64);
    }

    .opção-verde{
        border-radius: 3vw;
        box-shadow: 0 1vw 1.5vw 0.3vw rgb(64, 64, 64);
    }

    .paginas-botoes{
        font-size: 2.5vw;
    }

}